<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th th:fragment="theader-index (name, description)" scope="col">
    <a class="nav-link" th:href="@{/(page=${param.page},
                            size=${products.size},
                            nameFilter=${param.nameFilter},
                            minFilter=${param.minFilter},
                            maxFilter=${param.maxFilter},
                            brand = ${param.brand},
                            sortField=${name},
                            changeSortOrder = true)}"><div th:text="${description}"></div>
    </a>
</th>


<th th:fragment="theader-admin (name, description)" scope="col">
    <a class="nav-link" th:href="@{/product/(page=${param.page},
                            size=${products.size},
                            nameFilter=${param.nameFilter},
                            brand = ${param.brand},
                            sortField=${name},
                            changeSortOrder = true)}"><div th:text="${description}"></div>
    </a>
</th>


</html>
