<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head.html :: head"/>

<nav th:replace="fragments/head.html :: logo"/>
<nav th:replace="fragments/head.html :: navbar-admin"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/user/new}">Новый пользователь</a>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead class="table-blue">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">e-mail</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th scope="row" th:text="${user.id}">1</th>
                    <td th:text="${user.username}">User login</td>
                    <td th:text="${user.firstName}">User login</td>
                    <td th:text="${user.lastName}">User login</td>
                    <td th:text="${user.email}">User login</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/user/{id}(id = ${user.id})}"><i class="fas fa-edit"></i></a>
                        <form class="d-inline" th:action="@{/user/delete/{id}(id = ${user.id})}" th:method="post">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script th:replace="fragments/footer.html :: scripts"/>

</body>
</html>
