<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head">
    <nav th:replace="fragments/head.html :: logo"/>
    <nav th:replace="fragments/head.html :: navbar-admin"/>
</head>

<body>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/user/update}" th:method="post" th:object="${user}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label>Логин</label>
                    <input type="text" class="form-control" th:field="*{username}" placeholder="введите логин">
                    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Логин не может быть пустым</small>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" class="form-control" th:field="*{password}" placeholder="введите пароль">
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Пароль не может быть пустым</small>
                </div>
                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" class="form-control" th:field="*{firstName}" placeholder="введите имя">
                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Имя не может быть пустым</small>
                </div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input type="text" class="form-control" th:field="*{lastName}" placeholder="введите фамилию">
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" class="form-control" th:field="*{email}" placeholder="введите e-mail">
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}">e-mail не может быть пустым</small>
                </div>

                <div class="form-group">
                    <label for="roles">Роли</label>
                    <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                        <option th:each="role : ${roles}"
                                th:text="${role.name}"
                                th:value="${role.id}"
                                th:selected="${user.roles?.contains(role)}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments/footer.html :: scripts" />

</body>

</html>