<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head.html::head"></head>

<body>

<nav th:replace="fragments/head.html :: logo"/>
<nav th:replace="fragments/head.html :: navbar-admin"/>


<div class="container">
    <div class="row justify-content-center" style="margin-top: 10px">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2"><span th:text="${product.name == null} ? 'Добавление товара' : 'Изменение товара'"></span></h4>
                </header>
                <div class="card-body">
                    <form th:action="@{/product/edit}" th:object="${product}" method="post" enctype="multipart/form-data">
                        <input th:field="*{id}" type="hidden" class="form-control">

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Название</label>
                                <input th:field="*{name}" type="text" class="form-control" placeholder="">
                                <small class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="form-group col-md-12" >
                                <label>Выберите марку</label>
                                <select th:field="*{brand.id}" class="form-control">
                                    <option th:each="brand: ${brands}"
                                            th:value="${brand.id}"
                                            th:text="${brand.name}" >
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="form-group col-md-12" >
                                <label>Выберите категорию</label>
                                <select th:field="*{type.id}" class="form-control">
                                    <option th:each="type: ${types}"
                                            th:value="${type.id}"
                                            th:text="${type.name}" >
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Описание</label>
                                <textarea th:field="*{description}" type="text" class="form-control"  th:rows="5" placeholder=""></textarea>
                                <small class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
<!--                                <input th:field="*{id}" type="number" class="invisible" placeholder="">-->
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Цена</label>
                                <input th:field="*{price}" type="text" class="form-control" placeholder="">
                                <small class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> </small>
                            </div>
                            <div class="col form-group">
                                <label>Количество на складе</label>
                                <input th:field="*{stock}" type="number" class="form-control" placeholder="">
                                <small class="error" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"> </small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Размер(В x Ш x Г мм)</label>
                                <input th:field="*{size}" type="text" class="form-control" placeholder="">
                                <small class="error" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"> </small>
                            </div>
                            <div class="col form-group">
                                <label>Вес(г.)</label>
                                <input th:field="*{weight}" type="number" class="form-control" placeholder="">
                                <small class="error" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"> </small>
                            </div>
                        </div>

                        <!--Buttons-->
                        <div style="margin-top: 10px" class="form-group">
                            <div class="col-sm-6 controls">
                                <button type="submit" name="addProduct" class="btn btn-primary">Сохранить</button>
                                <a  sec:authorize="isAnonymous()" class="btn btn-primary" data-bs-toggle="collapse" th:href="@{/product}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Отмена
                                </a>
                                <a sec:authorize="hasAnyRole('ROLE_ADMIN')" class="btn btn-primary" data-bs-toggle="collapse" th:href="@{/product}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Отмена
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer.html::scripts"></script>
</body>
</html>

